.btn-book-ticket {
    border-radius: 8px;
    border: none;
    background-color: #f5222d;
    color: white;
    font-weight: 500;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-book-ticket:hover {
    color: black;
    background-color: #cf1322;
    transition: .2s ease-in;
}
.btn-oder-none{
    border-radius: 8px;
    border: none;
    background-color: #f66169;
    color: white;
    font-weight: 500;
    width: 100%;
    height: 100%;
    cursor: no-drop;
}